*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body{
    overflow-x: hidden;
}

main{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    gap: 50px;
}
.titulo{
    color: #FF4242;
    font-size: 40px;
    margin-bottom: 28px;
}
.separacao_forms{
    display: flex;
}
.separar_entradas{
    margin-right: 10px;
}
.text{
    font-size: 17px;
    margin-top: 10px;
}
.link_Perguntas{
    text-decoration: underline;
    cursor: pointer;
    color: #0000FF;
}

.entradas{
    outline: none;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
    border: solid 1px #B5ABAB;
    border-radius: 5px;
    width: 100%;
}
.texto_grande{
    resize: none;
}

.enviar{
    padding: 10px;
    background-color: #FF4242;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.enviar:hover{
    filter: brightness(0.6);
}