*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    background-image: linear-gradient(to right, rgb(28, 147, 220), rgb(17, 54, 71));
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 2px #3d3c3c;
    animation: Iniciar 2s forwards;
}
@keyframes Iniciar {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.container{
    width: 550px;
    height: 550px;
    background-color: rgb(255, 255, 255);
}

.titulo{
    color:rgb(9, 114, 211); 
    font-size: 34px;
    text-align: center;
    width: 100%;
    padding: 10px;
    padding-top: 35px;
    margin-bottom: 50px;
}
#olho{
    right: 90px;
    width: 30px;
    height: 20px;
    position: absolute;
    transform: scale(1.2);
}

#olho_mob{
    right: 90px;
    width: 30px;
    height: 20px;
    position: absolute;
    transform: scale(1.2);
}
.entrada{
    display: flex;
    justify-content: center;
}

.entrada input{
    background-color:  rgb(255, 255, 255);
    border: none;
    border-bottom: 1px solid rgb(9, 114, 211); 
    padding: 5px;
    padding-left: 10px;
    width: 400px;
    margin-bottom: 25px;
    outline: 0;
    font-size: 15px;
    text-align: center;
    color: rgb(9, 114, 211); 
}
.entrada_senha{
    position: relative;
}
.conteudo input[type=password]::-ms-reveal,input[type=password]::-ms-clear{
    display: none;
}



.entrada input::placeholder { 
    font-style: italic;
    color: rgb(9, 114, 211); 
}

.botao_cadastrar button{
    background-color: rgb(9, 114, 211); 
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    border-radius:15px;
    cursor: pointer;
    margin-right: 30px;
}

.botao_cadastrar{
    display: flex;
    justify-content:center;
    align-items: center;
}
.botao_cadastrar button:hover{
    background-color: rgb(9, 114, 211); 
    transform: scale(1.05);
    transition: 0.5s;
}

.botao_cadastrar button:active{
    
    background-color: rgb(9, 114, 211); 
}

.Continua_Cone input{
    margin-right: 5px;
    font-size: 15px;
}
.Continua_Cone{
    opacity: 0.8;
    font-size: 15px;
}

.conectar_google{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.botao_google{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 9px 20px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    min-width: 171px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.logo_google{
    background-color: rgb(0, 0, 0);
    width: 35px;
    height: 37px;
    display: flex;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
}
.conectar_face{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.botao_face{
    text-align: center;
    background-color: rgb(9, 114, 211); 
    padding: 9px 15px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo_face{
    background-color: rgb(9, 114, 211); 
    width: 35px;
    height: 37px;
    padding-left: 5px;
}
.botao_face img{
    width: 36px;
    height: 32px;
    margin-right: 12px;
}

.botao_google img{
    width: 32px;
    height: 32px;
    margin-right:21px;
}

.imagem_lado{
    width: 550px;
    height: 550px;
}

.mobile{
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.ao_Lado{
    position: relative;
    display: flex;
}
.marca_texto{
    position: absolute;
    right: 10px;
    top: 0;
}
.barra{
    width: 60px;
    height: 50px;
    background-color: #8f0202;
    animation: Etiqueta 3.5s forwards;
}
@keyframes Etiqueta {
    0%{

    }
    100%{
        height: 250px;
    }
    
}

.triangulo-para-direita {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 30px solid #8f0202;

    bottom: 25px;
}

.triangulo-para-esquerda {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    border-right:30px solid #8f0202; 
}

  .triangulos{
    display: flex;
    position: absolute;
    bottom: -25px;
  }

  .registration_error{
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 3px 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    font-size: 12px;
  }

  